# Genera una con: uv run python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
DJANGO_SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# DATABASE: PostgreSQL
POSTGRES_DB=cratedigger
POSTGRES_USER=cratedigger
POSTGRES_PASSWORD=change-me     # Genera una password segura
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# DATABASE: MongoDB
MONGO_DB=lyricsdb
MONGO_USER=root
MONGO_PASSWORD=change-me    # Genera una password segura
MONGO_HOST=localhost
MONGO_PORT=27017
